body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12pt;
    font-weight: 200;
}

.time, .temperature, .power {
    font-weight: 400;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 8pt;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
